<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Centered Yoga & Dance Class Registration</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />


    <base href="/">
</head>
<body ng-app="calendar-app">

<header>
    <div class="container"  style="text-align: center;">
        <div class="row" style="padding-bottom:15px;padding-top:15px;line-height: 1.5;">
            <div class="col-md-12">
                <!-- TODO: put this into a database and load it from backend -->
                <span>{{companyAddress}} | {{companyPhone}}</span>
                <hr style="border-top: 1px solid #555;"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="company-header" >{{companyName}}</h3>
                <h1 class="company-tag-line">{{companyTagLine}}</h1>
            </div>

        </div>
        <div class="row margin-top-15">
            <div class="col-md-12">
                <img ng-src="{{headerPhoto}}" class="contain-50 hero-image" style="margin:0 auto;max-height:500px;"/>
            </div>
        </div>


        <!--<div class="row" style="height:18px; margin-top:10px;text-align:left;">-->
            <!--<div class="col-md-12">-->
                <!--<ol class="ab-nav breadcrumb">-->
                    <!--<li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">-->
                        <!--<a ng-if="!$last" ng-href="{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>-->
                        <!--<span ng-if="$last" ng-bind="breadcrumb.label"></span>-->
                    <!--</li>-->
                <!--</ol>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</header>

<div ng-view></div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div style="padding-left:10px;border-bottom-width: 1px;border-bottom-style:solid;padding-bottom:10px;width:100%;">&nbsp;</div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="color:rgb(187,187,187);text-align:left;margin-top:10px;margin-bottom:10px;">
                Copyright &copy;2018 Centered Yoga & Dance - All Rights Reserved.
            </div>
            <div class="col-md-2"></div>

        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="/production-dependencies.bundle.js" type="text/javascript"></script>

<script src="/app.bundle.js" type="text/javascript"></script>

</body>
</html>