<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div ng-include="'breadcrumbs.html'"></div>
            <h4 ng-if="vm.authService.isAuthenticated()">
                You are logged in!
                <a ng-click="vm.authService.logout()" class="btn btn-danger">Log Out</a>
            </h4>
            <h4 ng-if="!vm.authService.isAuthenticated()">
                You are not logged in! Please <a ng-click="vm.authService.login()" class="btn btn-primary">Log In</a> to continue.
            </h4>
            Administration page here
        </div>
    </div>
</div>