
    <!--<div class="container"  style="text-align: center;">-->
        <!--<div class="row" style="padding-bottom:15px;padding-top:15px;line-height: 1.5;">-->
            <!--<div class="col-md-12">-->
                <!--&lt;!&ndash; TODO: put this into a database and load it from backend &ndash;&gt;-->
                <!--<span>{{vm.companyAddress}} | {{vm.companyPhone}}</span>-->
                <!--<hr style="border-top: 1px solid #555;"/>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<h3 class="company-header" >{{vm.companyName}}</h3>-->
                <!--<h1 class="company-tag-line">{{vm.companyTagLine}}</h1>-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="row margin-top-15">-->
            <!--<div class="col-md-12">-->
                <!--<img ng-src="{{vm.yogaPhotos[0]}}" class="contain-50 hero-image" style="margin:0 auto;max-height:500px;"/>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;<ol class="ab-nav breadcrumb">&ndash;&gt;-->
            <!--&lt;!&ndash;<li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">&ndash;&gt;-->
                <!--&lt;!&ndash;<a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>&ndash;&gt;-->
                <!--&lt;!&ndash;<span ng-if="$last" ng-bind="breadcrumb.label"></span>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ol>&ndash;&gt;-->
    <!--</div>-->


    <div class="fluid-container" style="text-align: center;">

        <!--<div class="row" style="height:18px; margin-top:10px;text-align:left;">-->
            <!--<div class="col-md-2"></div>-->
            <!--<div class="col-md-8">-->
                <!--<ol class="ab-nav breadcrumb">-->
                    <!--<li ng-repeat="breadcrumb in vm.breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">-->
                        <!--<a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>-->
                        <!--<span ng-if="$last" ng-bind="breadcrumb.label"></span>-->
                    <!--</li>-->
                <!--</ol>-->
            <!--</div>-->
            <!--<div class="col-md-2"></div>-->
        <!--</div>-->


        <div class="row" style="margin-top:25px;margin-bottom:25px;">
            <div class="col-md-12">
                <p style="margin: 0;color:rgb(119,119,119);">Join A Class Today!</p>
            </div>
        </div>
        <div class="row" style="margin-bottom:25px;">
            <div class="col-md-12">
                <button class="btn btn-success" ng-click="vm.gotoClassRegistration()">JOIN A CLASS</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 class="section-header">About Us</h2>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row margin-top-15">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 about-text text-left">
                        <h4 class="about-header">Yoga for Everyone</h4>
                        <div class="about-section" >
                            <p>
                                Yoga unites the mind, body, and soul in a way that eases tension, reduces inflammation, and promotes health and well being.
                                Regular practice will help you reach improve and perfect poses, correct posture and positioning, and improve
                                your breathing and outlook on life.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img ng-src="{{vm.yogaPhotos[1]}}" class="contain-80 hero-image">
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row margin-top-15">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 about-text pull-right text-left">
                        <h4 class="about-header">Enhance Your Wellness</h4>
                        <div class="about-section">
                            <p>
                                Yoga is a great way to improve your endurance in other physical activities. After a run, or heavy workout,
                                yoga will help your body relax while stretching, strengthening, and lengthening the muscles you were just working on.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img ng-src="{{vm.yogaPhotos[2]}}" class="contain-80 hero-image">
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row margin-top-15">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 about-text text-left">
                        <h4 class="about-header">Calm Your Mind</h4>
                        <div class="about-section">
                            <p>
                                Yoga not only helps improve your body, but also helps with mindfulness and meditation. It is important to take a break
                                from daily life in order to focus on yourself and get clarity. Focusing on your breath during practice is key to staying
                                in tune with your mind and body.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img ng-src="{{vm.yogaPhotos[3]}}" class="contain-80 hero-image">
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="padding-top: 75px;padding-bottom:50px">
            <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="bold-header text-uppercase">Subscribe</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Sign up for weight loss tips,healthy recipes, and upcoming events.</p>
                            <input id="subscribe-email" type="text" ng-model="vm.newletterEmail" />
                            <button type="button" class="btn btn-success">SIGN UP</button>
                        </div>
                    </div>
                </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 class="section-header">Photo Gallery</h2>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- slider container -->
                <div class="container slider">
                    <!-- enumerate all photos -->
                    <img ng-repeat="photo in vm.galleryPhotos" class="slide" ng-swipe-right="vm.showPrev()" ng-swipe-left="vm.showNext()" ng-show="vm.isActive($index)" ng-src="{{photo.image}}" />
                    <!-- prev / next controls -->
                    <a class="arrow prev" href="" ng-click='vm.showPrev()'></a>
                    <a class="arrow next" href="" ng-click='vm.showNext()'></a>
                    <!-- extra navigation controls -->
                    <!--<ul class="nav">-->
                        <!--<li ng-repeat="photo in vm.galleryPhotos" ng-class="{'active':vm.isActive($index)}">-->
                            <!--<img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="vm.showPhoto($index);" />-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>

                <!--<div uib-carousel active="active" interval="5000" no-wrap="false">-->
                    <!--<div uib-slide ng-repeat="slide in vm.galleryPhotos track by slide.id" index="slide.id">-->
                        <!--<img ng-src="{{slide.image}}" style="margin:auto;">-->
                        <!--<div class="carousel-caption">-->
                            <!--<h4>Slide {{slide.id}}</h4>-->
                            <!--<p>{{slide.text}}</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 class="section-header">Contact Us</h2>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-12">
                <h4 class="paragraph-header margin-top-30">Visit Our Location</h4>
                <p>Feel free to contact us with any questions or inquiries, or to learn more about our class schedules.</p>
                <h4 class="paragraph-header margin-top-30">Centered Yoga & Dance</h4>
                <p>{{vm.companyAddress}}</p>
                <p>{{vm.companyPhone}}</p>
                <h4 class="paragraph-header margin-top-30">Hours</h4>
                <p>Monday - Friday: 10AM-8PM</p>
                <p>Saturday: 8AM-10PM</p>
                <p>Sunday: 12PM-5PM</p>
                <button type="button" class="btn btn-success" ng-click="vm.showContactForm()">SEND MESSAGE</button>
            </div>
        </div>

        <div style="text-align:left;margin:15px;">
            <div id="map"></div>
        </div>

        <!--<div class="row">-->
            <!--<div class="col-md-2"></div>-->
            <!--<div class="col-md-8">-->
                <!--<div style="padding-left:10px;border-bottom-width: 1px;border-bottom-style:solid;padding-bottom:10px;width:100%;">&nbsp;</div>-->
            <!--</div>-->
            <!--<div class="col-md-2"></div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-2"></div>-->
            <!--<div class="col-md-8" style="color:rgb(187,187,187);text-align:left;margin-top:10px;margin-bottom:10px;">-->
                <!--Copyright &copy;2018 Centered Yoga & Dance - All Rights Reserved.-->
            <!--</div>-->
            <!--<div class="col-md-2"></div>-->

        <!--</div>-->

    </div>

