    <div class="container center-text">

        <div class="row margin-top-25 margin-bottom-25">
            <div class="col-md-12">
                <p style="margin: 0;color:rgb(119,119,119);">Join A Class Today!</p>
            </div>
        </div>

        <div class="row center-text margin-bottom-25">
            <div class="col-md-12">
                <button class="btn btn-success" ng-click="vm.gotoClassRegistration()">JOIN A CLASS</button>
            </div>
        </div>

        <div ng-include="'breadcrumbs.html'"></div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="section-header">About Us</h2>
            </div>
        </div>
        <!-- TODO: add a repeater for this content -->
        <div class="row margin-top-15" ng-repeat="contentBlock in vm.contentBlocks track by $index">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 about-text text-left" ng-class="{'pull-right': !($index % 2)}">
                        <h4 class="about-header">{{contentBlock.header}}</h4>
                        <div class="about-section" >
                            <p>
                                {{contentBlock.body}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img ng-src="{{contentBlock.img}}" class="contain-80 hero-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 75px;padding-bottom:50px">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="bold-header text-uppercase">Subscribe</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">Sign up for weight loss tips,healthy recipes, and upcoming events.</p>
                        <input id="subscribe-email" type="text" ng-model="vm.newletterEmail" />
                        <button type="button" class="btn btn-success">SIGN UP</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-header">Photo Gallery</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- slider container -->
                <div class="container slider">
                    <!-- enumerate all photos -->
                    <img ng-repeat="photo in vm.galleryPhotos" class="slide" ng-swipe-right="vm.showPrev()" ng-swipe-left="vm.showNext()" ng-show="vm.isActive($index)" ng-src="{{photo.image}}" />
                    <!-- prev / next controls -->
                    <a class="arrow prev" href="" ng-click='vm.showPrev()'></a>
                    <a class="arrow next" href="" ng-click='vm.showNext()'></a>
                    <!-- extra navigation controls -->
                    <ul class="nav">
                        <li ng-repeat="photo in vm.galleryPhotos" ng-class="{'active':vm.isActive($index)}">
                            <img ng-src="{{photo.image}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="vm.showPhoto($index);" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-header">Contact Us</h2>
            </div>
        </div>
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-12">
                <h4 class="paragraph-header margin-top-30">Visit Our Location</h4>
                <p>Feel free to contact us with any questions or inquiries, or to learn more about our class schedules.</p>
                <h4 class="paragraph-header margin-top-30">Centered Yoga & Dance</h4>
                <p>{{companyAddress}}</p>
                <p>{{companyPhone}}</p>
                <h4 class="paragraph-header margin-top-30">Hours</h4>
                <p>Monday - Friday: 10AM-8PM</p>
                <p>Saturday: 8AM-10PM</p>
                <p>Sunday: 12PM-5PM</p>
                <button type="button" class="btn btn-success" ng-click="vm.showContactForm()">SEND MESSAGE</button>
            </div>
        </div>

        <div style="text-align:left;margin:15px;">
            <div id="map"></div>
        </div>

    </div>

