
<div>

    <div class="fluid-container" style="text-align: center;">

        <div class="row" style="padding-bottom:15px;padding-top:15px;line-height: 1.5;">
            <div class="col-md-12">
                <!-- TODO: put this into a database and load it from backend -->
                <span>{{vm.companyAddress}} | {{vm.companyPhone}}</span>
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 style="font-size:43px;font-weight:600;">{{vm.companyName}}</h3>
                <h1 style="font-size:14px;color: rgb(119,119,119);">{{vm.companyTagLine}}</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <img ng-src="{{vm.yogaPhotos[0]}}" class="contain-50 hero-image" style="margin:0 auto;max-height:500px;"/>
            </div>
        </div>
        <div class="row" style="margin-top:25px;margin-bottom:25px;">
            <div class="col-md-12">
                <p style="margin: 0;color:rgb(119,119,119);">Join A Class Today!</p>
            </div>
        </div>
        <div class="row" style="margin-bottom:25px;">
            <div class="col-md-12">
                <button type="button" class="btn btn-success">JOIN A CLASS</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 style="font-size:22px;text-align:left;padding-left:10px;text-transform:uppercase;font-weight: 700;border-bottom-width: 1px;border-bottom-style:solid;padding-bottom:10px;">About Us</h2>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="margin-top:15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <img ng-src="{{vm.yogaPhotos[1]}}" class="contain-80 hero-image" style="margin:0 auto;max-height: 270px;">
                    </div>
                    <div class="col-md-6 about-text" style="text-align: left;vertical-align: middle;margin: 0;margin-bottom: 20px;">
                        <h4 style="font-size:22px;color:rgb(77,77,77);font-weight:400;">Yoga for Everyone</h4>
                        <div style="font-size:14px;color:rgb(117,117,117);height:100%;">
                            <p style="margin: 0">
                                Yoga unites the mind, body, and soul in a way that eases tension, reduces inflammation, and promotes health and well being.
                                Regular practice will help you reach improve and perfect poses, correct posture and positioning, and improve
                                your breathing and outlook on life.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="margin-top:15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 about-text" style="text-align: left;vertical-align: middle;margin: 0;margin-bottom: 20px;">
                        <h4 style="font-size:22px;color:rgb(77,77,77);font-weight:400;">Enhance Your Wellness</h4>
                        <div style="font-size:14px;color:rgb(117,117,117);height:100%;">
                            <p style="margin: 0">
                                Yoga is a great way to improve your endurance in other physical activities. After a run, or heavy workout,
                                yoga will help your body relax while stretching, strengthening, and lengthening the muscles you were just working on.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img ng-src="{{vm.yogaPhotos[2]}}" class="contain-80 hero-image" style="margin:0 auto;max-height: 270px;">
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="margin-top:15px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <img ng-src="{{vm.yogaPhotos[3]}}" class="contain-80 hero-image" style="margin:0 auto;max-height: 270px;">
                    </div>
                    <div class="col-md-6 about-text" style="text-align: left;vertical-align: middle;margin: 0;margin-bottom: 20px;">
                        <h4 style="font-size:22px;color:rgb(77,77,77);font-weight:400;">Calm Your Mind</h4>
                        <div style="font-size:14px;color:rgb(117,117,117);height:100%;">
                            <p style="margin: 0">
                                Yoga not only helps improve your body, but also helps with mindfulness and meditation. It is important to take a break
                                from daily life in order to focus on yourself and get clarity. Focusing on your breath during practice is key to staying
                                in tune with your mind and body.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="padding-top: 75px;padding-bottom:50px">
            <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12" style="text-align:center;">
                            <h4 style="font-size:23px;font-weight:600;color:rgb(27,27,27);text-transform: uppercase">Subscribe</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-left:10%">
                            <p style="text-align: center;">Sign up for weight loss tips,healthy recipes, and upcoming events.</p>
                            <input style="padding-left:8px;padding-right:8px;padding-top:12px;padding-bottom:5px;border-width:1px;border-color:rgb(226,226,226);width:50%;border-type:solid;" type="text" ng-model="vm.newletterEmail" />
                            <button type="button" class="btn btn-success" style="margin-bottom:5px;">SIGN UP</button>
                        </div>
                    </div>
                </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 style="font-size:22px;text-align:left;padding-left:10px;text-transform:uppercase;font-weight: 700;border-bottom-width: 1px;border-bottom-style:solid;padding-bottom:10px;">Photo Gallery</h2>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 style="font-size:22px;text-align:left;padding-left:10px;text-transform:uppercase;font-weight: 700;border-bottom-width: 1px;border-bottom-style:solid;padding-bottom:10px;">Contact Us</h2>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" style="margin-bottom:20px;">
            <div class="col-md-12">
                <h4 style="font-size:22px;color:rgb(27,27,27);font-weight:400;">Visit Our Location</h4>
                <p>Feel free to contact us with any questions or inquiries, or to learn more about our class schedules.</p>
                <h4 style="font-size:22px;color:rgb(27,27,27);font-weight:400;margin-top:50px;">Centered Yoga & Dance</h4>
                <p>{{vm.companyAddress}}</p>
                <p>{{vm.companyPhone}}</p>
                <h4 style="font-size:22px;color:rgb(27,27,27);font-weight:400;margin-top:50px;">Hours</h4>
                <p>Monday - Friday: 10AM-8PM</p>
                <p>Saturday: 8AM-10PM</p>
                <p>Sunday: 12PM-5PM</p>
                <button type="button" class="btn btn-success" ng-click="vm.showContactForm()">SEND MESSAGE</button>
            </div>
        </div>

        <div style="text-align:left;margin:15px;">
            <div id="map"></div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<div>-->
                    <!--<div id="map" style="height:250px;"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div style="padding-left:10px;border-bottom-width: 1px;border-bottom-style:solid;padding-bottom:10px;width:100%;">&nbsp;</div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="color:rgb(187,187,187);text-align:left;margin-top:10px;margin-bottom:10px;">
                Copyright &copy;2018 Centered Yoga & Dance - All Rights Reserved.
            </div>
            <div class="col-md-2"></div>

        </div>

    </div>

</div>
